.card {

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;

	// &:hover {
	// 	--card-content--display: flex;
	// 	--card-image--brightness: 70;
	// }

	&__container-image,
	&__content {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
	}

	&__container-image {
		@apply rounded-xl;
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: var(--card-container-image-p);

		&__image {
			@apply rounded-xl;
			position: absolute;
			height: auto;
			width: 100%;
			height: 100%;
			object-fit: cover;

			z-index: var(--card__image--z-index);
			filter: brightness(calc(var(--card-image--brightness) * 1%));
			transition: all 150ms;
		}
	}

	&__content {
		z-index: var(--card__content--z-index);

		display: var(--card-content--display);
		flex-direction: column;

		&__container-btn {
			padding: 1em;
			width: 100%;
			display: flex;
			justify-content: flex-end;
			align-items: center;

		}

		&__container-description {
			padding: 1em;
			flex-grow: 1;

			display: flex;
			align-items: flex-end;
		}
	}
}


.container-ratio {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 100%;

	@media screen and (min-width: 673px) {
		grid-row: span 2 / auto;
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 150%;
	}

	& img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}