.container-input {
	@apply flex-grow p-4 text-[#BDBDBD] text-xs border-[1px] border-[#BDBDBD] rounded-xl transition-colors flex items-center gap-2;

	&:focus-within {
		border-color: #333333;
		color: #333333;
	}

	@media screen and (min-width: 640px) {
		@apply text-base max-w-[300px];
	}
}

.container-masonry {
	padding: 1em;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1em;
}

.card-tall {
	grid-row: span 2 / auto;
	border: 1px solid red;
}